<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
      <% include ../static/partials/messages.ejs %>
      <h1><%= `${user.name}'s profile` %></h1>
			<h2><%= `Email: ${user.email}` %></h2>
			<h2><%= `User Role: ${user.role}` %></h2>
			<h3><%= `Profile created at ${user.createdAt}`%></h3>
      <hr>
			<% if(currentUser && currentUser.role == "standard") { %>
				<h1>Join Koopipedia as a premium member.</h1>
				<ul>
					<li>Create private wikis and collaborate with other premium members.</li>
				</ul>
				<form action="/users/<%=currentUser.id%>/upgrade" method="POST">
					<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
				data-key="pk_test_dTwq1s9L2aRKonJ1idkQTLtF"
				data-amount="1500"
				data-name="Stripe.com"
				data-description="Example Koopipedia Premium Membership Charge"
				data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
				data-locale="auto">
					</script>
				</form>
			<% } else { %>
				<% if(currentUser.role === "premium"); { %>
				<h1>Koopipedia EZ Downgrade</h1>
				<h6>Just know that all of your private Wikis will become public</h6>
				<form action="/users/<%=currentUser.id%>/downgrade" method="POST">
						<button type="submit" class="btn btn-danger">Downgrade your membership</button>
				</form>
				<% } %>
			<% } %>
    </main>
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
